<h1>Trips</h1>

<p *ngIf="!trips"><em>Loading...</em></p>

<table class="table table-striped" aria-labelledby="tableLabel" *ngIf="trips">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let trip of trips">
            <td>{{ trip.id }}</td>
            <td>{{ trip.description }}</td>
        </tr>
    </tbody>
</table>

<!-- <p aria-live="polite">
    Current count: <strong>{{ currentCount }}</strong>
</p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button> -->
